@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root{
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

*{
  margin:0px;
  padding: 0px;
}
html, body{
  min-height:100vh;
}
main{
  min-height:100vh;
  /**/
  background-color:darkgrey;
  font-family: var(--fonte3);
}
header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  font-family: var(--fonte2);
  font-variant: small-caps;
}
section{
  padding-top: 10vh;
  padding-bottom:10vh;
  line-height:2em;
  padding-left:30px;
  font-size: 6vh;
}
.normal{
  background-color:white;
  color: black;
}
.imagem{
  background-color: rgba(0, 0, 0, 0.378);
  color: white;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.598);
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.513);

}
.imagem > p{
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.22);
}
#branco{
  background-image: url('branco.jpg');
}
#lagrima{
  background-image: url('lagrima.jpg');
  background-position: right center;
  background-repeat: no-repeat;
}
#final{
  padding-top: 150px;
  padding-bottom: 150px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px;
  font-family: var(--fonte1);
}